TELEGRAM_BOT_TOKEN=123456:ABC-DEF
TELEGRAM_OWNER_ID=7930855703
REFRESH_HOURS=1
STATE_DIR=/data
IMAGE_CACHE_DIR=/data/covers
# NOTIFY_GROUP_ID=-1001992504630
# SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/18gpNdDNHztbkQE9rRvw6Y0rPqtKjrROJdy4HnZXqTQw/export?format=csv
